#sam{ 
    color: blue; 
    text-align: center; 
    font-family: 'Pacifico', cursive; 
    font-size: 50px; 
    text-underline-position: below;
    text-decoration: underline;
}
#myportfolio{
    /* background-color: #f1f1f1; */
    position: fixed;
    width: 1700px;
    height: 250px;
    font-family: 'Jim Nightshade', cursive;
    text-decoration: underline;
} 
#home{ 
    text-align: center; 
    padding: 5px 5px; 
    font-weight: normal; 
    padding: 10px 5px; 
    font-size:50px; 
    /* background-image: url("https://bit.ly/3bhIPEb");  */
    max-width: 100%; 
    height: 100px; 
    background-repeat: no-repeat; 
    background-size: 100%; 
    font-family: 'Lobster', cursive;
} 
#about{ 
    text-align: center; 
    width: 700px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 50px;
    font-size: 10px;
    display: flex;
    width: 1370px;
}
header{
    max-width: 1200px;
    margin:20px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    color: cornsilk;
}
#aboutsam{
    text-align: center;
    font-size: 50px;
    border: 7px solid blue;
    padding: 12px;
    background-color: #f1f1f1;
    font-family: 'Jim Nightshade', cursive;
    text-decoration: underline;
}
#bt{
    border: 7px solid blue;
    padding: 00px;
    margin: 50px;
    font-size: 30px;
    width:500px;
}
table{
    font-weight: bold;
    display: block;
    background-color: #f1f1f1;

}
th,td{ 
    width: 150px; 
    text-align: center; 
    border: 7px solid blue; 
    padding: 15px;
}
.navbar{
    
    margin: 20px;
    padding: 10px 10px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 40px;
    border:3px solid white;
    text-decoration: none;
    position: fixed;
    
  }
  nav ul li{
    list-style: none;
    
  }
  nav ul li a{
      display: block;
      padding: 10px 20px;
      margin: 10px 0px;
      text-decoration: none;
  }
  nav{
    float: right;
  }
  footer{
      background-color: turquoise;
  }
  #image{
      float: right;
      border:4px solid blue;
      font-size: 20px;
      width: 400px;
      height: 400px;
      float: left;
      border-radius: 50%;
      margin: 10px;
      shape-outside:;
      position: relative;
      overflow: hidden;
      background-color: burlywood;
      font-family: 'Lobster', cursive;
  }
  section p{
      position: relative;
      width: 100%;
      padding: 10px;
      font-size: 40px;
  }
  body{
    font-family: 'Lobster', cursive;
    /* font-family: 'Jim Nightshade', cursive; */
    background-image: url(https://bit.ly/2vZag5p);
  }
 #achievements {
     text-align: centre;
     font-family: 'Jim Nightshade', cursive;
     font-size: 50px;
     text-align: center;
     /* font-size: 50px; */
     border: 7px solid blue;
     padding: 3px;
     background-color: #f1f1f1;
     font-family: 'Jim Nightshade', cursive;
     text-decoration: underline;
 }
 #para{
     text-align: center;
     font-size: 50px;
     color: cornsilk;
 }
 #contacts{
     text-align: center;
     font-size: 40px;
     border: 7px solid blue;
     padding: 3px;
     background-color: #f1f1f1;


 }
 #no{
     text-decoration: underline;
     /* text-decoration: wavy; */
     text-align: center;
     font-size: 70px;
     font-family: 'Jim Nightshade', cursive;
     border: 7px solid blue;
     padding: 3px;
     background-color: #f1f1f1;
 }