#sam{
    color: blue;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
}
#navbar{
    text-align: center;
    padding: 5px 5px;
    font-weight: normal;
    padding: 10px 5px;
    font-size:50px;
}